/**index.wxss**/
.container{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.logo{
  .van-image{
    width: 300rpx;
    height: 100rpx;
  }
}
.title{
  font-size: 26rpx;
  margin-bottom: 40rpx;
}
.form{
  padding-top: 15%;
  width: 80%;
  text-align: center;
  .van-cell{
    background-color: #f9f9f9;
    margin-bottom: 40rpx;
    border-radius: 5px;
  }
}
.input{
  height: 100rpx !important;
}
.company{
  position: fixed;
  bottom: 10rpx;
  width: 100%;
  color: #565656;
  font-size: 24rpx;
  text-align: center;
  &.safe-heigth{
    bottom: 60rpx;
  }
}
